#technical-skills {
    color: var(--dark);
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 20%;
    max-height: 300px;
    text-align: center;
    padding: 1%;
    margin: 10px;
    background-color: var(--light);
    border-radius: 15px;
}

.skill-badge {
    height: 70px;
    width: 70px;
    margin: 0 auto 20px;
}